<nav class="wrapper">
  <ul>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        [class.disabled-link]="!isAuthenticated"
        >Homee</a
      >
    </li>
    <li>
      <a
        routerLink="/users"
        routerLinkActive="active"
        [class.disabled-link]="!isAuthenticated"
        >Users</a
      >
    </li>
    <li>
      <a
        routerLink="/todo"
        routerLinkActive="active"
        [class.disabled-link]="!isAuthenticated"
        >Todo</a
      >
    </li>
  </ul>
</nav>
