.title {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}

.nav {
  background-color: aliceblue;
  ul {
    // background-color: darkseagreen;
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    gap: 20px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    a {
      background-color: darkseagreen;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      &:hover {
        background-color: cadetblue;
      }
    }
  }
}

.active {
  background-color: darkcyan !important;
  color: white;
}
