/* Modern Reset */
*,
*::before,
*::after {
  box-sizing: border-box; /* Bardzo ważne: padding nie zwiększa szerokości elementu */
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
html {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
