<!-- <p>user-details works!</p>

<p>USER ID: {{ userId }}</p>
<p>USER ID2: {{ userId2() }}</p> -->
@if (userDetails()) {
  @for (property of userProperties; track $index) {
    @if (property !== "assets") {
      <div>{{ property | titlecase }}</div>
      <div>{{ userDetails()![property] }}</div>
      <br />
    }
    @if (property === "assets") {
      @for (asset of userDetails()![property]; track $index) {
        <div>
          <!-- {{ asset | json }} |  -->
          {{ asset?.assetName }} => {{ asset.quantity }}
        </div>
      }
    }
  }
  <!-- <ng-container
    *ngTemplateOutlet="
      userTemplate;
      context: { label: 'Age', value: userDetails()?.age }
    "
  /> -->
  {{ userDetails() | json }}
} @else {
  ..waiting
}

<ng-template #userTemplate let-label="label" let-value="value">
  <div>
    <div>
      {{ label }}
    </div>
    <div>
      {{ value }}
    </div>
  </div>
</ng-template>
