@use "../styles/variables";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  height: calc(100% - variables.$topbarHeight);
}

.sidebar {
  width: 200px;
  height: 100%;
}

.main {
  flex: 1;
  border-right: 2px solid pink;
}

.global-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7); // Semi-transparent white
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: wait; // <--- This changes the cursor to the "loading" spinner!
}
