.users {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 76%;

  .list {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    height: 100%;
    overflow: auto;
  }

  .left {
    background-color: #a2d2e0;
  }

  .right {
    background-color: #b6b8d8;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
