@use "../../../../styles/variables";

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // flex-direction: column;
  background-color: aqua;
  height: variables.$topbarHeight;
}

.loginButton {
  margin-right: 20px;
}

.cred {
  background-color: darkgray;
  min-width: 50px;
  min-height: 50px;
  padding: 10px;

  &:hover .on-hover {
    visibility: visible !important;
  }
}

.on-hover {
  visibility: hidden;
}
